*{
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
  }


  /* ======================================
Responsive Image gallery Style rules
======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    padding: 40px 5%;
  }
  
  .heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
  
  .image-item video {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }